.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.login-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  ". . . . ."
  ". . lg . ."
  ". . sb . ."
}

.account-info-container {
  min-height: 95vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  grid-column-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-rows: 50px;
  grid-template-areas:
  "m m m m m"
  "b g g g g"
  "s g g g g"
  "s g g g g"
  ". g g g g"
  ". g g g g"
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
